/* Font Style */
.fira-sans{
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
  }
  .fira-sans2{
    color: rgb(0, 106, 80);
    font-family: Fira Sans;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
  }
  .fira-sans3{
    color: rgba(14, 14, 14, 0.5);
    font-family: Fira Sans;
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
  }
  .fira-sans4{
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 56px;
    font-weight: 700;
    line-height: 67px;
    margin-top: 0px;
  }
  .fira-sans6{
    color: rgba(14, 14, 14, 0.7);
    font-family: Fira Sans;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
  }
  .fira-sans7{
    color: rgb(255, 255, 255);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
  }
  .fira-sans8{
    color: rgba(14, 14, 14, 0.8);
    font-family: Fira Sans;
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
  }
  /* Nav Style */
  .nav-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .btn-primary{
    padding: 15px 30px;
    box-sizing: border-box;
    border: 2px solid rgb(0, 106, 80);
    border-radius: 8px;
  }
  /* Banner Style */
  .container{
    margin: auto;
    width: 1280px;

  }
  .btn1{
    color: rgb(255, 255, 255);
    font-family: Fira Sans;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    padding: 17px 34px;
    background-color: rgb(0, 106, 80);
    border-radius: 8px;
    border: none;
  }
  .banner-bg{
    display: flex;
    background-color: rgb(198, 228, 214);
    border-radius: 24px;
    padding: 50px 80px;
  }
  .banner-content{
    width: 593px;
  }
  /* Pillar Style */
  .fira-sans5{
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 40px;
    font-weight: 700;
    line-height: 150px;
  }
  .pillar img{
    width: 100px;
    height: 100px;
  }
  .pillar {
    display: flex;
    justify-content: space-between;

  }
  .box-title{
    font-family: Fira Sans;
  }
  .box-description{
  }
.box{
  width: 250px;
  border: 1px solid rgba(14, 14, 14, 0.15);
  border-radius: 16px;
  padding: 25px;
  background-color: white;
}
/* Body color */
#color{
  background-color: rgb(255, 244, 244);
}
/* Vision Section */
.vision img{
    width: 100px;
    height: 100px;
    margin: auto;
}
.vision{
  display: flex;
  justify-content: center;
  gap: 24px;
}
.vision-box{
  font-family: Fira Sans;
  box-sizing: border-box;
  border-radius: 16px;
  padding: 30px;
}
.b{
  background: rgba(84, 144, 245, 0.2);
}
.g{
  background: rgb(198, 228, 214);
}
.y{
  background: rgb(247, 235, 207);
}
.container2{
  margin: auto;
  width: 90%;
  text-align: center;
}
.text{
  margin-bottom: 30px;
}
.btn2{
  padding: 11px 20px;
  border-radius: 8px;
  border: none;
}
.b1{
  background: rgb(84, 144, 245);
}
.g1{
  background: rgb(9, 161, 92);
}
.y1{
  background: rgb(255, 194, 57);
}
/* Recent Section */
.cnc{
  color: rgb(0, 13, 255);
  font-size: 25px;
  font-weight: 600;
  font-family: Fira Sans;
}
.recent-margin{
  margin-bottom: -35px;
}
.zero h1{
  margin-top: 0;
}
.time{
  display: flex;
  gap: 20px;
}
.channel-img{
  display: flex;
  align-items: center;
  gap: 10px;
}
.recent img{
  width: 550px;
  height: 350px;
  border-radius: 24px;
}
.text2{
  margin-bottom: 30px;
}
.recent-main{
  display: flex;
  gap: 30px;
  background: rgb(255, 255, 255);
  padding: 30px;
  border-radius: 15px;
  margin-top: 30px;
}
.channel-img img{
  width: 70px;
  height: 30px;
}
.btn-recent{
  padding: 13px 26px 13px 26px;
  border-radius: 8px;
  background: rgb(0, 106, 80);
  color: rgb(255, 255, 255);
  font-family: Fira Sans;
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  border: none;
  margin-top: 80px;
}
.btn-recent2{
  padding: 13px 26px 13px 26px;
  border-radius: 8px;
  background: rgb(0, 106, 80);
  color: rgb(255, 255, 255);
  font-family: Fira Sans;
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  border: none;
  margin-top: 55px;
}
.btn-recent3{
  padding: 13px 26px 13px 26px;
  border-radius: 8px;
  background: rgb(0, 106, 80);
  color: rgb(255, 255, 255);
  font-family: Fira Sans;
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  border: none;
  margin-top: 15px;
}
/* Subscribe Style */
.para{
  margin: auto;
  text-align: center;
}
.para p{
  margin: 24px auto;
  width: 500px;
  
}
.text3{
  text-align: center;
  color: rgba(14, 14, 14, 0.7);
  font-family: Fira Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;

}
.input{
  display: flex;
  justify-content: center;
}
.input input{
  width: 500px;
  border-radius: 5px 0px 0px 5px ;
  outline: 0;
  border: none;
  padding-left: 20px;
}
.input button{
  border-radius: 0px 5px 5px 0px;
  border: none;
  padding: 18px 40px;
  background: rgb(0, 106, 80);
  font-family: Fira Sans;
  font-size: 18px;
  color: rgb(255, 255, 255);
}
.sub-bg{
  background-color: rgb(198, 228, 214);
  border-radius: 24px;
  padding: 50px 80px;
  margin: 80px 0;
}
.text5{
  text-align: center;
  color: rgba(14, 14, 14, 0.7);
  font-family: Fira Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
}
.text8{
  line-height: 50px;
  color: rgb(14, 14, 14);
  font-family: Fira Sans;
  font-size: 40px;
  font-weight: 700;
}
/* Footer Style */
.text4{
  text-align: center;
}
.footer-img{
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 30px;
}
footer {
  background: rgb(255, 255, 255);
}
/* Challenge Style */
.banner-card{
  padding: 10px;
  position: relative;
  border-radius: 16px;
  background: rgb(255, 255, 255);
  margin-top: 80px;
}
.banner-card img{
  width: 70px;
  height: 80px;
  position: absolute;
}
.banner-text{
  position: relative;
  top: 0;
}
.banner-text p{
  line-height: 25px;
}
/* Opinion Style */

.text6{
  color: rgb(14, 14, 14);
  font-family: Fira Sans;
  font-size: 20px;
  font-weight: 600;
}
.text7{
  color: rgb(14, 14, 14);
  font-family: Fira Sans;
  font-size: 20px;
  font-weight: 600;
}
.text7 option{
  color: rgb(14, 14, 14);
  font-family: Fira Sans;
  font-size: 20px;
  font-weight: 600;
}
.opinion{
  background: rgb(255, 255, 255);
  padding: 30px;
  border-radius: 15px;
}
table{
  width: 100%;
  border-collapse: collapse;
}
th{
  border: 1px solid rgba(14, 14, 14, 0.15);
  padding: 24px;
  text-align: left;
}
.table-data{
  border: 1px solid rgba(14, 14, 14, 0.15);
  padding: 24px;
  text-align: left;
}
th{
  background: rgb(198, 228, 214);
}

select{
  padding: 10px 14px 10px 14px;
  font-size: 16px;
}
.btn-bg{
  background: rgb(198, 228, 214);
  border: 1px solid rgb(14, 14, 14);
}
/* Headline Style */

.margin{
  margin-top: 80px;
  padding: 50px;
}

/* Donation Style */
.mar-donate2{
  margin-bottom: -25px;
}
.mar-donate{
  margin-bottom: 30px;
}
.donation-container{
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.dona-btn{
  padding: 40px 40px;
  font-size: 18px;
  font-weight: bold;
  border: 1px solid rgba(14, 14, 14, 0.15);
  border-radius: 16px;
  cursor: pointer;
  background: rgb(255, 255, 255);
  transition: all 0.3s;
  font-family: Fira Sans;
  font-size: 40px;
  font-weight: 700;
}
.dona-btn:hover{
  background: rgb(198, 228, 214);
}
.other-amount{
  margin: auto;
  width: 90%;
  padding: 20px 0px;
  font-size: 16px;
  border-radius: 5px;
  text-align: center;
  border: none;
}
.done-button{
  padding: 17px 34px 17px 34px;
  font-size: 18px;
  font-weight: bold;
  color: rgb(255, 255, 255);
  background: rgb(0, 106, 80);
  border: none;
  border-radius: 8px;
  cursor: pointer;
  text-align: center;
  margin-top: 30px;
}
.done-button:hover{
  background: rgb(0, 106, 80);
}